<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>


<h1><%= @registerapplication.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <h3>URL: <%= link_to @registerapplication.url, "#{@registerapplication.url}" %></h3><small> Registered by <%= @registerapplication.user.email %></small>
      <%= pie_chart @registerapplication.events.group(:name).count %>
      <%= line_chart @registerapplication.events.group_by_day(:created_at).count %>
      <p><%= @events.count %> events associated with this application</p>
      <p><%= @events%>
    </div>
    <div class="col-md-4" >
      <%= link_to "Edit Application", edit_registerapplication_path, class: 'btn btn-success' %>
      <%= link_to "Deregister Application", @registerapplication, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to deregister this application?'} %>
    </div>
  </div>
